body {
    background-color: #1D313C;
    margin: 8px;
    display: block;
}

#mainHeading {
    text-align: center;
    font-size: xx-large;
    color: #F9FEFF;
}
    


ol {
    color: #F9FEFF;
    margin-left: 5%;
    padding-bottom: 10px;
}

a {
    color: #F6723A;
}

main {
    background-color:#FADAC1;
    margin-left: 5%;
    margin-right: 5%;
}

h2 {
    font-family: fantasy;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0%;
    background-color: #C43B39;
}

.right-align {
    text-align: right;
}

p {
    font-size: large;
    font-family: sans-serif;
    margin-left: 2%;
    margin-right: 2%;
}

.funParagraph {
    color: #1D313C;
}

div {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #1D313C
}

article {
    margin-top: 5px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 15px 15px;
    z-index: 1;
    color: #F9FEFF;
}

img {
    width: 400px;
    margin-left: 15%;
    margin-right: 15%;
    padding: 15px 15px;
    border-radius: 30%;
    background-color: #50A3AB;
}



footer {
    color: #F9FEFF;
}






/* Your CSS must:

Use margin and padding to space your elements in a visually pleasing manner.

Use at least one of each of the following types of selectors:

element
class
id
Follow these rules:

Use the element selector to give the <body> element a margin value of 8px and a display type of block.
Give a heading on your page the id of mainHeading and use the id selector in styles.css to apply a styling of your choosing.
Give a paragraph on your page the id of testP and a class name of funParagraph. Use the class selector in styles.css and give it a styling of your choosing.
You will be asked to explain and point out your styling choices to your TA during your code review. Have fun with creating your assignment.

Notes
In order to see any visible change, make sure to link the stylesheet to your main document.

Feel free to check out our styled example to see how we did things. Use “View Source” (by right-clicking anywhere on the page and selecting View Source).

Another thing you might find useful is your browser’s developer tools.

And be sure to use the Resources section below as you go. */